## Informations and Conventions
https://zrp.github.io/challenges/data-science/

For convention:
 * labels = 1 will be considered **POSITIVE** cases
 * labels = 0 will be considered **NEGATIVE** cases.

## Read dataset and brief analysis

### Packages

In [2]:
import pandas as pd
import plotly.express as plotly

### Functions

In [3]:
df_raw = pd.read_csv('https://raw.githubusercontent.com/zrp/challenges/master/data-science/data.csv')
df_raw

,read0,read1,read2,read3,read4,read5,read6,read7,read8,read9,start_timestamp,end_timestamp,inference
0,"[-0.29, -0.07]","[0.24, -0.62]","[-0.29, 0.14]","[0.1, 0.14]","[0.41, -0.45]","[0.41, 0.22]","[0.36, 0.03]","[0.37, 0.42]","[0.19, 0.42]","[0.19, 0.01]",1665656955,1665656967,1
1,"[-0.25, -0.04]","[0.04, 0.19]","[0.11, 0.19]","[-0.23, 0.07]","[-0.23, -0.38]","[-0.48, -0.37]","[-0.42, -0.33]","[-0.23, -0.33]","[-0.23, -0.2]","[-0.12, -0.31]",1665656968,1665656980,1
2,"[-0.59, -0.27]","[-0.42, -0.27]","[-0.42, -0.34]","[-0.35, -0.37]","[-0.39, -0.36]","[-0.47, -0.36]","[-0.12, -0.39]","[-0.12, -0.06]","[-0.01, -0.05]","[-0.11, 0.46]",1665656982,1665656994,1
3,"[-0.2, -0.15]","[-0.44, -0.31]","[-0.65, -0.31]","[-0.7, -0.17]","[-0.7, -0.15]","[-0.63, -0.12]","[-0.56, -0.13]","[-0.46, -0.13]","[-0.46, -0.18]","[-0.52, -0.15]",1665656914,1665656926,1
4,"[-0.35, -0.19]","[-0.61, -0.19]","[-0.61, -0.15]","[-0.61, -0.13]","[-0.59, -0.15]","[-0.56, -0.15]","[0.44, 0.27]","[0.44, 0.15]","[-0.59, -0.25]","[-0.56, -0.22]",1665656928,1665656940,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3510,"[0.08, -1.27]","[0.07, -1.27]","[0.07, -1.27]","[0.08, -1.27]","[0.08, -1.27]","[0.07, -1.27]","[0.08, -1.27]","[0.1, -1.27]","[0.08, -1.27]","[0.09, -1.27]",1674811711,1674811723,0
3511,"[0.02, -1.27]","[0.25, -1.27]","[0.18, -1.27]","[0.17, -1.27]","[0.19, -1.27]","[0.18, -1.27]","[0.18, -1.27]","[0.06, -1.14]","[-1.18, -0.71]","[-0.35, -1.27]",1674811725,1674811737,1
3512,"[-0.04, -1.27]","[0.03, -1.27]","[0.02, -1.27]","[0.02, -1.27]","[0, -1.27]","[0.02, -1.27]","[0.01, -1.27]","[0.01, -1.27]","[0.01, -1.27]","[-0.8, -1.07]",1674811654,1674811667,1
3513,"[-0.09, -1.18]","[0.14, -1.27]","[0.16, -1.27]","[0.15, -1.27]","[0.14, -1.27]","[0.16, -1.27]","[0.15, -1.27]","[0.15, -1.27]","[0.15, -1.27]","[0.15, -1.27]",1674811669,1674811681,1
3514,"[0.15, -1.27]","[0.15, -1.27]","[0.14, -1.27]","[0.15, -1.27]","[0.14, -1.27]","[0.13, -1.27]","[0.1, -1.27]","[0.09, -1.27]","[0.07, -1.27]","[0.04, -1.27]",1674811683,1674811695,0

### Balancement of dataset

In [4]:
df_raw['inference'].value_counts()

1    1989
0    1526
Name: inference, dtype: int64

**Notes:** The dataset is relatively balanced, with more positive than negative samples. Thus, it is expected that the machine learning model will be better at classifying positive samples than negative ones.

### Max and min of t_start and t_end
I want to see the interval os values for each read of dataset.
To do that, the use of explode function is needed to put every value in a cell
Then, we can use the min and max functions to see the interval of values for each read

In [5]:
print('Value:',df_raw.iloc[0]['read0'],'\n','Type:',type(df_raw.iloc[0]['read0']))

Value: [-0.29, -0.07]
 Type: <class 'str'>

But, because, as contested above, all the cells of dataset is of type string, we need to convert it to a list of floats

In [6]:
from ast import literal_eval

df_float_list = df_raw.iloc[:, :10]
for name, column in df_float_list.iteritems():
    column = column.apply(literal_eval)
    df_float_list[name] = column
df_float_list

C:\Users\guimi\AppData\Local\Temp\ipykernel_14468\269520465.py:4: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for name, column in df_float_list.iteritems():

,read0,read1,read2,read3,read4,read5,read6,read7,read8,read9
0,"[-0.29, -0.07]","[0.24, -0.62]","[-0.29, 0.14]","[0.1, 0.14]","[0.41, -0.45]","[0.41, 0.22]","[0.36, 0.03]","[0.37, 0.42]","[0.19, 0.42]","[0.19, 0.01]"
1,"[-0.25, -0.04]","[0.04, 0.19]","[0.11, 0.19]","[-0.23, 0.07]","[-0.23, -0.38]","[-0.48, -0.37]","[-0.42, -0.33]","[-0.23, -0.33]","[-0.23, -0.2]","[-0.12, -0.31]"
2,"[-0.59, -0.27]","[-0.42, -0.27]","[-0.42, -0.34]","[-0.35, -0.37]","[-0.39, -0.36]","[-0.47, -0.36]","[-0.12, -0.39]","[-0.12, -0.06]","[-0.01, -0.05]","[-0.11, 0.46]"
3,"[-0.2, -0.15]","[-0.44, -0.31]","[-0.65, -0.31]","[-0.7, -0.17]","[-0.7, -0.15]","[-0.63, -0.12]","[-0.56, -0.13]","[-0.46, -0.13]","[-0.46, -0.18]","[-0.52, -0.15]"
4,"[-0.35, -0.19]","[-0.61, -0.19]","[-0.61, -0.15]","[-0.61, -0.13]","[-0.59, -0.15]","[-0.56, -0.15]","[0.44, 0.27]","[0.44, 0.15]","[-0.59, -0.25]","[-0.56, -0.22]"
...,...,...,...,...,...,...,...,...,...,...
3510,"[0.08, -1.27]","[0.07, -1.27]","[0.07, -1.27]","[0.08, -1.27]","[0.08, -1.27]","[0.07, -1.27]","[0.08, -1.27]","[0.1, -1.27]","[0.08, -1.27]","[0.09, -1.27]"
3511,"[0.02, -1.27]","[0.25, -1.27]","[0.18, -1.27]","[0.17, -1.27]","[0.19, -1.27]","[0.18, -1.27]","[0.18, -1.27]","[0.06, -1.14]","[-1.18, -0.71]","[-0.35, -1.27]"
3512,"[-0.04, -1.27]","[0.03, -1.27]","[0.02, -1.27]","[0.02, -1.27]","[0, -1.27]","[0.02, -1.27]","[0.01, -1.27]","[0.01, -1.27]","[0.01, -1.27]","[-0.8, -1.07]"
3513,"[-0.09, -1.18]","[0.14, -1.27]","[0.16, -1.27]","[0.15, -1.27]","[0.14, -1.27]","[0.16, -1.27]","[0.15, -1.27]","[0.15, -1.27]","[0.15, -1.27]","[0.15, -1.27]"
3514,"[0.15, -1.27]","[0.15, -1.27]","[0.14, -1.27]","[0.15, -1.27]","[0.14, -1.27]","[0.13, -1.27]","[0.1, -1.27]","[0.09, -1.27]","[0.07, -1.27]","[0.04, -1.27]"

In [7]:
print(f"Value: {df_float_list.iloc[0]['read0']} \n"
      f"Type: {type(df_float_list.iloc[0]['read0'])} \n"
      f"\n"
      f"Element value: {df_float_list.iloc[0]['read0'][0]} \n"
      f"Element type: {type(df_float_list.iloc[0]['read0'][0])}")
#
# print('Value:',df_float_list.iloc[0]['read0'],'\n','Type:',type(df_float_list.iloc[0]['read0']), '\n','Element type:',type(df_float_list.iloc[0]['read0'][0]))

Value: [-0.29, -0.07]
Type: <class 'list'>

Element value: -0.29
Element type: <class 'float'>

Now, that all types are correct, we need to explode so that only one value is in each cell

In [8]:
df_exploded = df_float_list.apply(pd.Series.explode)
df_exploded

     read0 read1 read2 read3 read4 read5 read6 read7 read8 read9
0    -0.29  0.24 -0.29   0.1  0.41  0.41  0.36  0.37  0.19  0.19
0    -0.07 -0.62  0.14  0.14 -0.45  0.22  0.03  0.42  0.42  0.01
1    -0.25  0.04  0.11 -0.23 -0.23 -0.48 -0.42 -0.23 -0.23 -0.12
1    -0.04  0.19  0.19  0.07 -0.38 -0.37 -0.33 -0.33  -0.2 -0.31
2    -0.59 -0.42 -0.42 -0.35 -0.39 -0.47 -0.12 -0.12 -0.01 -0.11
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
3512 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.07
3513 -0.09  0.14  0.16  0.15  0.14  0.16  0.15  0.15  0.15  0.15
3513 -1.18 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27
3514  0.15  0.15  0.14  0.15  0.14  0.13   0.1  0.09  0.07  0.04
3514 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27

[7030 rows x 10 columns]

Finally, we can get the min and max value for each read

In [9]:
# indices pares são t_start
# indices impares são t_end
# Series

df_min_max = pd.DataFrame(index=['min','max'])
for name, column in df_exploded.iteritems():
    min_max = pd.Series([column.min(), column.max()], index=['min', 'max'])
    df_min_max[name] = min_max

df_min_max

C:\Users\guimi\AppData\Local\Temp\ipykernel_14468\753292604.py:6: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for name, column in df_exploded.iteritems():

     read0  read1  read2  read3  read4  read5  read6  read7  read8  read9
min  -1.27  -1.27  -1.27  -1.27  -1.27  -1.27  -1.27  -1.27  -1.27  -1.27
max   1.28   1.28   1.28   1.28   1.28   1.28   1.28   1.28   1.28   1.28

**Notes:**  all columns has the same min and max values for t_start and t_end

## Prepare dataset for model

### Packages

### Functions

In [10]:
### Transform each cell to difference between t_end and t_start
df_for_model = df_float_list.copy()

df_for_model = df_for_model.apply(lambda x: x.apply(lambda y: y[1] - y[0]))
df_for_model['start_timestamp'] = df_raw['start_timestamp']
df_for_model['end_timestamp'] = df_raw['end_timestamp']
df_for_model['diff_timestemp'] = df_for_model['end_timestamp'] - df_for_model['start_timestamp']
df_for_model['inference'] = df_raw['inference']

df_for_model

,read0,read1,read2,read3,read4,read5,read6,read7,read8,read9,start_timestamp,end_timestamp,diff_timestemp,inference
0,0.22,-0.86,0.43,0.04,-0.86,-0.19,-0.33,0.05,0.23,-0.18,1665656955,1665656967,12,1
1,0.21,0.15,0.08,0.30,-0.15,0.11,0.09,-0.10,0.03,-0.19,1665656968,1665656980,12,1
2,0.32,0.15,0.08,-0.02,0.03,0.11,-0.27,0.06,-0.04,0.57,1665656982,1665656994,12,1
3,0.05,0.13,0.34,0.53,0.55,0.51,0.43,0.33,0.28,0.37,1665656914,1665656926,12,1
4,0.16,0.42,0.46,0.48,0.44,0.41,-0.17,-0.29,0.34,0.34,1665656928,1665656940,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3510,-1.35,-1.34,-1.34,-1.35,-1.35,-1.34,-1.35,-1.37,-1.35,-1.36,1674811711,1674811723,12,0
3511,-1.29,-1.52,-1.45,-1.44,-1.46,-1.45,-1.45,-1.20,0.47,-0.92,1674811725,1674811737,12,1
3512,-1.23,-1.30,-1.29,-1.29,-1.27,-1.29,-1.28,-1.28,-1.28,-0.27,1674811654,1674811667,13,1
3513,-1.09,-1.41,-1.43,-1.42,-1.41,-1.43,-1.42,-1.42,-1.42,-1.42,1674811669,1674811681,12,1
3514,-1.42,-1.42,-1.41,-1.42,-1.41,-1.40,-1.37,-1.36,-1.34,-1.31,1674811683,1674811695,12,0