## Informations and Conventions
https://zrp.github.io/challenges/data-science/

For convention:
 * labels = 1 will be considered **POSITIVE** cases
 * labels = 0 will be considered **NEGATIVE** cases.

## Read dataset and brief analysis

### Packages

In [1]:
import pandas as pd
import plotly.express as plotly

### Functions

In [2]:
df_raw = pd.read_csv('https://raw.githubusercontent.com/zrp/challenges/master/data-science/data.csv')
df_raw

,read0,read1,read2,read3,read4,read5,read6,read7,read8,read9,start_timestamp,end_timestamp,inference
0,"[-0.29, -0.07]","[0.24, -0.62]","[-0.29, 0.14]","[0.1, 0.14]","[0.41, -0.45]","[0.41, 0.22]","[0.36, 0.03]","[0.37, 0.42]","[0.19, 0.42]","[0.19, 0.01]",1665656955,1665656967,1
1,"[-0.25, -0.04]","[0.04, 0.19]","[0.11, 0.19]","[-0.23, 0.07]","[-0.23, -0.38]","[-0.48, -0.37]","[-0.42, -0.33]","[-0.23, -0.33]","[-0.23, -0.2]","[-0.12, -0.31]",1665656968,1665656980,1
2,"[-0.59, -0.27]","[-0.42, -0.27]","[-0.42, -0.34]","[-0.35, -0.37]","[-0.39, -0.36]","[-0.47, -0.36]","[-0.12, -0.39]","[-0.12, -0.06]","[-0.01, -0.05]","[-0.11, 0.46]",1665656982,1665656994,1
3,"[-0.2, -0.15]","[-0.44, -0.31]","[-0.65, -0.31]","[-0.7, -0.17]","[-0.7, -0.15]","[-0.63, -0.12]","[-0.56, -0.13]","[-0.46, -0.13]","[-0.46, -0.18]","[-0.52, -0.15]",1665656914,1665656926,1
4,"[-0.35, -0.19]","[-0.61, -0.19]","[-0.61, -0.15]","[-0.61, -0.13]","[-0.59, -0.15]","[-0.56, -0.15]","[0.44, 0.27]","[0.44, 0.15]","[-0.59, -0.25]","[-0.56, -0.22]",1665656928,1665656940,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3510,"[0.08, -1.27]","[0.07, -1.27]","[0.07, -1.27]","[0.08, -1.27]","[0.08, -1.27]","[0.07, -1.27]","[0.08, -1.27]","[0.1, -1.27]","[0.08, -1.27]","[0.09, -1.27]",1674811711,1674811723,0
3511,"[0.02, -1.27]","[0.25, -1.27]","[0.18, -1.27]","[0.17, -1.27]","[0.19, -1.27]","[0.18, -1.27]","[0.18, -1.27]","[0.06, -1.14]","[-1.18, -0.71]","[-0.35, -1.27]",1674811725,1674811737,1
3512,"[-0.04, -1.27]","[0.03, -1.27]","[0.02, -1.27]","[0.02, -1.27]","[0, -1.27]","[0.02, -1.27]","[0.01, -1.27]","[0.01, -1.27]","[0.01, -1.27]","[-0.8, -1.07]",1674811654,1674811667,1
3513,"[-0.09, -1.18]","[0.14, -1.27]","[0.16, -1.27]","[0.15, -1.27]","[0.14, -1.27]","[0.16, -1.27]","[0.15, -1.27]","[0.15, -1.27]","[0.15, -1.27]","[0.15, -1.27]",1674811669,1674811681,1
3514,"[0.15, -1.27]","[0.15, -1.27]","[0.14, -1.27]","[0.15, -1.27]","[0.14, -1.27]","[0.13, -1.27]","[0.1, -1.27]","[0.09, -1.27]","[0.07, -1.27]","[0.04, -1.27]",1674811683,1674811695,0

### Balancement of dataset

In [3]:
df_raw['inference'].value_counts()

1    1989
0    1526
Name: inference, dtype: int64

Notes: The dataset is relatively balanced, with more positive than negative samples. Thus, it is expected that the machine learning model will be better at classifying positive samples than negative ones.

### Max and min of t_start and t_end
https://stackoverflow.com/questions/62801562/pandas-explode-multiple-columns

In [39]:
df_test = df_raw.iloc[:, :10]
df_test

,read0,read1,read2,read3,read4,read5,read6,read7,read8,read9
0,"[-0.29, -0.07]","[0.24, -0.62]","[-0.29, 0.14]","[0.1, 0.14]","[0.41, -0.45]","[0.41, 0.22]","[0.36, 0.03]","[0.37, 0.42]","[0.19, 0.42]","[0.19, 0.01]"
1,"[-0.25, -0.04]","[0.04, 0.19]","[0.11, 0.19]","[-0.23, 0.07]","[-0.23, -0.38]","[-0.48, -0.37]","[-0.42, -0.33]","[-0.23, -0.33]","[-0.23, -0.2]","[-0.12, -0.31]"
2,"[-0.59, -0.27]","[-0.42, -0.27]","[-0.42, -0.34]","[-0.35, -0.37]","[-0.39, -0.36]","[-0.47, -0.36]","[-0.12, -0.39]","[-0.12, -0.06]","[-0.01, -0.05]","[-0.11, 0.46]"
3,"[-0.2, -0.15]","[-0.44, -0.31]","[-0.65, -0.31]","[-0.7, -0.17]","[-0.7, -0.15]","[-0.63, -0.12]","[-0.56, -0.13]","[-0.46, -0.13]","[-0.46, -0.18]","[-0.52, -0.15]"
4,"[-0.35, -0.19]","[-0.61, -0.19]","[-0.61, -0.15]","[-0.61, -0.13]","[-0.59, -0.15]","[-0.56, -0.15]","[0.44, 0.27]","[0.44, 0.15]","[-0.59, -0.25]","[-0.56, -0.22]"
...,...,...,...,...,...,...,...,...,...,...
3510,"[0.08, -1.27]","[0.07, -1.27]","[0.07, -1.27]","[0.08, -1.27]","[0.08, -1.27]","[0.07, -1.27]","[0.08, -1.27]","[0.1, -1.27]","[0.08, -1.27]","[0.09, -1.27]"
3511,"[0.02, -1.27]","[0.25, -1.27]","[0.18, -1.27]","[0.17, -1.27]","[0.19, -1.27]","[0.18, -1.27]","[0.18, -1.27]","[0.06, -1.14]","[-1.18, -0.71]","[-0.35, -1.27]"
3512,"[-0.04, -1.27]","[0.03, -1.27]","[0.02, -1.27]","[0.02, -1.27]","[0, -1.27]","[0.02, -1.27]","[0.01, -1.27]","[0.01, -1.27]","[0.01, -1.27]","[-0.8, -1.07]"
3513,"[-0.09, -1.18]","[0.14, -1.27]","[0.16, -1.27]","[0.15, -1.27]","[0.14, -1.27]","[0.16, -1.27]","[0.15, -1.27]","[0.15, -1.27]","[0.15, -1.27]","[0.15, -1.27]"
3514,"[0.15, -1.27]","[0.15, -1.27]","[0.14, -1.27]","[0.15, -1.27]","[0.14, -1.27]","[0.13, -1.27]","[0.1, -1.27]","[0.09, -1.27]","[0.07, -1.27]","[0.04, -1.27]"

In [26]:
def f(x):
    try:
        return literal_eval(str(x))
    except Exception as e:
        print(e)
        return []

df['column_2'] = df.column_1.apply(lambda x: f(x))

Empty DataFrame
Columns: [read0, read1, read2, read3, read4, read5, read6, read7, read8, read9]
Index: []

In [40]:
from ast import literal_eval
for name, column in df_test.iteritems():
    column = column.apply(literal_eval)
    df_test[name] = column

C:\Users\Guilherme\AppData\Local\Temp\ipykernel_10364\652983860.py:2: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for name, column in df_test.iteritems():

## First hypothesis

each column with the difference between the t_end and t_start

In [46]:
type(df_test.loc[1,'read1'])

list

In [48]:
df_test = df_test.apply(pd.Series.explode)
df_test

     read0 read1 read2 read3 read4 read5 read6 read7 read8 read9
0    -0.29  0.24 -0.29   0.1  0.41  0.41  0.36  0.37  0.19  0.19
0    -0.07 -0.62  0.14  0.14 -0.45  0.22  0.03  0.42  0.42  0.01
1    -0.25  0.04  0.11 -0.23 -0.23 -0.48 -0.42 -0.23 -0.23 -0.12
1    -0.04  0.19  0.19  0.07 -0.38 -0.37 -0.33 -0.33  -0.2 -0.31
2    -0.59 -0.42 -0.42 -0.35 -0.39 -0.47 -0.12 -0.12 -0.01 -0.11
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
3512 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.07
3513 -0.09  0.14  0.16  0.15  0.14  0.16  0.15  0.15  0.15  0.15
3513 -1.18 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27
3514  0.15  0.15  0.14  0.15  0.14  0.13   0.1  0.09  0.07  0.04
3514 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27 -1.27

[7030 rows x 10 columns]